<ion-view>
<ion-content>

<div class="item range">
<ion-item>
Gender Specific
</ion-item>
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
<div class="item range">
<ion-item>
Average Income
</ion-item>
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
<div class="item range">
<ion-item>
Average Age
</ion-item>
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
<div class="item range">
<ion-item>
Free time
</ion-item>
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
<div class="item range">
<ion-item>
Foot traffic
</ion-item>
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
<div>
 <p><a class="button button-small icon ion-arrow-left-b" href="#/menu">Back to Home</a>
</p>
</div>

<div class="item images-parent">
  <img src="img/bargraph_360.png" class="center-image"></img>
  
  </div>
  <div>
 <p><a class="button button-small icon ion-arrow-left-b" href="#/map">Map</a>

</div>

</ion-content>
</ion-view>